.doc-content-box {
    max-width: 1180px;
    min-width: 980px;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.tab-list {
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}
.tab-list li {
    display: inline-block;
}
.tab-list  a {
    padding: 0 20px 3px;
    height: 45px;
    line-height: 50px;
    font-size: 18px;
}

.tab-panel {
    margin-top: 40px;
}
.tab-panel li {
    width: 23.4%;
    /*height: 325px;*/
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    display: inline-block;

    margin-left: 1.1%;
    margin-bottom: 20px;
    border-radius: 3px;
}
.tab-panel li h2 {
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    background-color: #f5f8fa;

    margin: 0;
    padding-left: 30px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
}
.tab-panel li a {
    font-size: 16px;
    display: block;
    padding-left: 30px;
    height: 41px;
    line-height: 41px;

}